[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "==0.68.1"
uvicorn = {extras = ["standard"], version = "==0.15.0"}
typing = "==3.7.4.3"
pydantic = "==1.8.2"
rarity-tools-scraper = "==0.0.6"
fastapi-cache2 = "==0.1.6"
selenium = "==3.141.0"

[requires]
python_version = "3.9"
